
<% if @question.errors.any? %>
  <div class="section">
    <% @question.errors.messages.values.each do |message| %>
      <p>
        <% message.each do |m| %>
          <span class="red-text"><%= m %></span>
        <% end %>
      </p>
    <% end %>      
    <div class="divider"></div>
  </div>
<% end %>

<%= form_for @question, url: {action: "create"} do |q| %>

  <div class="input-field">
    <i class="material-icons prefix">perm_identity</i><%= q.label :asker, "Pseudo" %>
    <%= q.text_field :asker %>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">email</i><%= q.label :email, "E-Mail" %>
    <%= q.email_field :email %>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">label_outline</i><%= q.label :title, "Titre" %>
    <%= q.text_field(:title) %>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">mode_edit</i><%= q.label :question, "Question" %>
    <%= q.text_area(:question, size: "24x6", :style => "resize:none", :class => "materialize-textarea") %>
  </div>
  <%= q.hidden_field(:product_id, :value => @product.id) %>

  <div class="row">
    <span class="col s3 offset-s9"><%= submit_tag("Poser la question", :class => "btn") %></span>
  </div>

<% end %>
