<%= form_for @question, url: {action: "create"} do |q| %>

  <div>
    <span class="input-field col s2"><i class="material-icons prefix">perm_identity</i><%= q.label :asker, "Pseudo : " %></span>
    <span class="input-field col s10"><%= q.text_field(:asker, :placeholder => "Pseudo") %></span>
  </div>
  <div>
    <span class="input-field col s2"><i class="material-icons prefix">email</i><%= q.label :email, "E-Mail : " %></span>
    <span class="input-field col s10"><%= q.text_field(:email, :placeholder => "E-Mail") %></span>
  </div>
  <div>
    <span class="input-field col s2"><i class="material-icons prefix">label_outline</i><%= q.label :title, "Titre : " %></span>
    <span class="input-field col s10"><%= q.text_field(:title, :placeholder => "Titre") %></span>
  </div>
  <div class="row">
    <span class="input-field col s2"><i class="material-icons prefix">mode_edit</i><%= q.label :question, "Question : " %></span>
    <span class="input-field col s10"><%= q.text_area(:question, size: "24x6", :placeholder => "Question(s) ?", :style => "resize:none", :class => "materialize-textarea") %></span>
  </div>
  <%= q.hidden_field(:product_id, :value => @product.id) %>

  <div class="row">
    <span class="col s3 offset-s9"><%= submit_tag("Poser la question", :class => "btn") %></span>
  </div>

<% end %>
