<section class="row">
  <article class="col s12 m12 l6">
    <div class="card-panel blue lighten-2 white-text">

      <div class="row"><h3>  <%= @tenant.lastname %></h3></div>
      <div class="row">     <%= @tenant.firstname %></div>
      <div class="row">     <%= @tenant.address %></div>
      <div class="row">     <%= @tenant.npa %></div>
      <div class="row">     <%= @tenant.city %></div>
      <div class="row">     <%= @tenant.email %></div>
      <div class="row">     <%= @tenant.npa %></div>
      <div class="row">     <%= @tenant.product_id %></div>
      <div class="row">    <%= @tenant.date_start %></div>
      <div class="row">    <%= @tenant.date_end %></div>
      <div class="row">     <%= @tenant.utilisation %></div>


      </div>
    </div>
  </article>
</section>