<% content_for :head do %>
  <<div class="parallax-container">
  <div class="parallax"><%= image_tag("logo.png", size: "900x400") %></div>  </div>
  <div class="container carousel col s6">
  <% @new_products.each do |product| %>
    <%= link_to image_tag(product.image.url(:thumb)), product, {:class => "carousel-item"} %>
  <% end %>
  </div>
  <div class="divider"></div>
<% end %>

<section class="section">
<% Product.all.each do |product| %>
  <div class="col s8 m6 l4">
    <div class="card z-depth-3">
      <div class="card-image">
        <%= image_tag product.image.url(:thumb), size: '150x150', class: "responsive-img" %>
        <span class="card-title"><%= link_to product.title, product %></span>
      </div>
      <div class="card-content truncate">
        <p><%= product.description %></p>
      </div>
      <div class="card-action blue lighten-2">
        <p class="center"><%= link_to "Louer l'article ici", product, class: 'white-text'  %></p>
      </div>
    </div>
  </div>
<% end %>
</section>


