                      <h1>RentArt</h1>

<h3>Confirmation de Location  : <%= @product.title %></h3>

<p>
 <%= @tenant.firstname %> votre demande de location de  <%= @product.title %> à été confirmé
 par l'utilisateur du du <%= @tenant.date_start %> au <%= @tenant.date_end %>.
</p>
