<h2>Rechercher Produit</h2>
<%= form_for @search, :url => "/product/index" do |f| %>
  <%= f.label "Title" %> 
  <%= f.text_field 'title' %> 
  <br/>
  <%= f.label "price" %> 
  <%= f.text_field 'price' %> 
  <%= f.label "Page" %> 
  <%= f.select 'page', @search.pages_for_select  %> 
  <br/>
  <%= f.submit "search" %>
<% end %>
