<section class="row">
  <aside class="col s6">
    <%= image_tag @product.image.url(:thumb), size:"250" %>
  </aside>

  <article class="col s6">
    <span class="row col s12"><%= @product.title %></span>
    <span class="row col s12"><%= @product.description %></span>
    <span class="row col s12"><%= @product.renter %></span>
    <span class="col s6"><%= number_to_currency(@product.price) %></span>
    <span class="col s6"><%= link_to "Louer l'article", location_article_path(@product), {:class => "btn"} %><span>
  </article>
</section>

<div class="section">
  <p>
    Question(s) :
    <%= link_to "Poser une question", new_question_path(@product), {:class => "btn" } %>
  </p>
  <div class="divider"></div>
</div>

<% @product.questions.each do |question| %>
<div class="row">
  <div class="section">
    <div class="col s6">
      <%= question.asker %>
    </div>
    <div class="col s6">
      <%= question.title %>
    </div>
  </div>
  <p>
    <%= question.question %>
  <p>
  <div class="divider"></div>
</div>
<% end %>