<table border='1'>
	<tr>
		<td><img src="" title="img" /></td>
		<td>
			<table>
				<tr>
					<td><%= @product.title %></td>
				</tr>
				<tr>
					<td><%= @product.description %></td>
				</tr>
				<tr>
					<td><%= @product.renter %></td>
					<td><%= @product.price %></td>
				</tr>
				<tr>
					<td><input type="submit" value="Louer l'article" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table>
	<th>Question(s) : </th>
	<th><input type="submit" value="Poser une question" /></th>
	
	<tr><td colspan=2><hr/></td></tr>

	<% @product.questions.each do |question| %>
		<tr>
			<td><%= question.asker %></td>
			<td><%= question.title %></td>
		</tr>
		<tr>
			<td colspan=1><%= question.question %></td>
		</tr>
		<tr><td colspan=2><hr/></td></tr>
	<% end %>
</table>
