<section class="row">
  <aside class="col s12 m12 l6">
    <%= image_tag @product.image.url(:original), {:class => "responsive-img", size: '350x350'} %>
  </aside>

  <article class="col s12 m12 l6">
    <div class="card-panel blue lighten-2 white-text">
      <div class="row"><h3><%= @product.title %></h3></div>
      <div class="row"><%= @product.description %></div>
      <div class="row"><%= @product.renter %></div>
      <div class="row"><%= number_to_currency(@product.price) %> / jour</div>
      <div class="row">

        <%= link_to raw("<i class=\"material-icons\">shopping_cart</i> Louer l'article"), location_article_path(@product), {:class => "btn"} %>
      </div>
    </div>
  </article>
</section>

<div class="section blue lighten-2 white-text">
  <p class="row">
    <span class="col s12 m6 l8">Question(s) :</span>
    <span class="col s12 m6 l4"><%= link_to raw("<i class=\"material-icons\">question_answer</i> Poser une question"), new_question_path(@product), {:class => "btn" } %></span>
  </p>
</div>

<% @product.questions.each do |question| %>
<div class="row">

  <div class="row">
    <div class="col s6 m4">
      <%= question.asker %>
    </div>
    <div class="col s6 m4">
      <%= question.title %>
    </div>
    <div class="col s12 m4">
      <%= question.date.strftime("%d.%m.%Y à %H:%M") %>
    </div>
  </div>

  <p class="row">
    <span class="col s2 red-text">Question : </span>
    <span class="col s10"><%= question.question %></span>
  <p>
    
  <p class="row">
    <span class="col s2 green-text">Réponse : </span>
    <span class="col s10"><%= question.answer %></span>
  </p>
  <div class="divider"></div>
</div>
<% end %>