<!DOCTYPE html>
<html>
<head>
  <title>RentArt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] -%>
    <%= javascript_tag do %>
    Materialize.toast('<%= flash[:notice] %>', 5000);
    <% end %>
  <% end -%>

  <nav>
    <div class="nav-wrapper">
      <ul data-activates="mobile" id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Accueil</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">

    <!--<div class="col s12 m4 l3 grey lighten-1">
      <!-- Menu de catégorie 
      <ul>
        <li>Catégorie 1</li>
        <li>Catégorie 2</li>
        <li>Catégorie 3</li>
        <li>Catégorie 4</li>
        <li>Catégorie 5</li>
      </ul>
    </div>-->

    <div class="col s0 m2"><p></p></div>
    <div class="col s12 m8">
      <%= yield %>
    </div>
    <div class="col s0 m2"></div>

  </div>

  <footer class="page-footer">

    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">RentArt - Location d'articles !</h5>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      © 2016 Ajjali Wassim, Di Stasio Leonardo
      </div>
    </div>

  </footer>

</body>
</html>
